@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
.modal-backdrop.fade
{
  opacity: 0.1;
}
.modal-open .modal
{
  opacity: 0.1;
  position: absolute;
  top: 90px;
  right: 100px;
  bottom: 100px;
  left: 175px;
}
  *{  
    margin:0;
    padding:0;
    font-family:Lato;
  }
  
  body{
    padding:0px;
    background:#f6f3f7;
    }

  
  .flatTable{  
    width:100%;
 
    min-width:500px;
    border-collapse:collapse;  
    font-weight:bold;
    color:#fcfcfc;
   
  }

  .flatTable  tr{
      height: 50px;
      width:100%;
      background:#acd2d8;
      border-bottom:rgba(158, 179, 218, 0.05) 5px solid;
      cursor: pointer;
  }

  .flatTable  td{    
      box-sizing:border-box;
      padding-left:60px;
      
  }
  
  .flatTable .titleTr{
    height:50px;  
    width:100%;
    color:#f9f6fa; 
    background-color: #1c5c93 ;  
    border:0px solid;
    cursor: initial;

  }
  .btn{
    text-align:center;

    cursor:pointer;
    width: 100%;
  }
  .btn:hover {
    background-color:rgb(57, 56, 58);
    color: white;
    width:100%;
   
  }

  .dot{
  height: 40px;
  width: 50px;
  border-radius: 100%;
 
  display: inline-block;
}

.badgecss{
    font-weight: 800;
    background-color:rgb(226, 234, 243);
    color: darkslategrey;
}
  
  .button{
    text-align:center;
    cursor:pointer;

  }
  .add{
    text-align:center;
    cursor:pointer;
    background-color: rgb(122, 130, 107);
    position: right;

  }
   .p-button{
    text-align:center;
    cursor:pointer;
    width: 100%;
    margin-left: 500px;

  } 

  
   /* form{
    position:relative;
    top:0;
    right:-400px;
    width:400px;
    height:100%; 
    background:#f6f3f7 - #222;  
    overflow:hidden;  
    transition:width 1s, right .3s;
    padding:0px;
    box-sizing:border-box;
  } */
  /* Form .close{
      float:right; 
      height:70px;
      width:80px;
      padding-top:25px;    
      box-sizing:border-box;
      background:rgba(241, 238, 238, 0.4);
        
    }
    
    Form .title{
      width:100%;
      height:70px;
      padding-top:20px;
      padding-left:20px;
      box-sizing:border-box;
      background:rgba(0,0,0,.1);
    }  */
  
  /* .open{  
    right:10px;
    width:800px !important;
  }
   */
  
  
  .display{
  
    width:300px;
  }
  

  .openIcon{
     width:80px; 

  }
  .popup{
    border: black, 1px, solid;
 
   
  }
  .asset{
    padding-left: 10px;
    border-top: 10px;
    text-decoration-color: black;
  }

  label{
    text-decoration-color: black;
  }

  
