<div style = "background: linear-gradient(to bottom, #0099ff 0%, #ccccff 65%);">
<header id="header">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a href="index.html"><span>DERIAN</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>

        <li><a href="#services">Services</a></li>

        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact Us</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('assets/Images/LandingPageBG.jpg');">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Derian</span></h2>
              <p class="animate__animated animate__fadeInUp">We provide you the best derivative analysis service. Derian
                provides solution across asset classes, backed by a senior coverage team. Derian tries best to provide clients with the benefit of global expertise.</p>
              <!-- <a href="abc" class="" [routerLink]="['/login']"> Login to get Started</a> -->
              <button [routerLink]="['/login']" class="btn1"> LOGIN TO GET STARTED</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->


<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Customer Services</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="icofont-mathematical-alt-2"></i></div>
        <h4 class="title"><a href="">Analysis</a></h4>
        <p class="description"></p>
      </div>

      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="icofont-chart-growth"></i></div>
        <h4 class="title"><a href="">PayOff Chart</a></h4>
        <p class="description"></p>
      </div>


     
    </div>
  </div>
</section><!-- End Services Section -->

<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <h2>Meet Our Team</h2>

    </div>

    <div class="row" style="padding-left: 120px;">

      <div class="col-xl-2 col-lg-3 col-md-2.4" data-aos="fade-up">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/Mohit.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Mohit</h4>
            <div class="social">

              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-2.4" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/_tanisha.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Tanisha</h4>

            <div class="social">
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-2.4" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/Meghana.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Meghana</h4>

            <div class="social">

              <a href="https://www.linkedin.com/in/meghana-reddy-64a605144"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-2.4" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/Sanket.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Sanket</h4>

            <div class="social">

              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    

    
      <div class="col-xl-2 col-lg-3 col-md-2.4" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/_Hitesh.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Hitesh</h4>

            <div class="social">

              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 200px;">
      <div class="col-xl-2 col-lg-3 col-md-3" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/Malvika.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Malvika</h4>

            <div class="social">

              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-3" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/Chaitrali.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Chaitrali</h4>

            <div class="social">

              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/Archana.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Archana</h4>

            <div class="social">

              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="assets/Images/team/_Abhidha.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Abhidha</h4>

            <div class="social">

              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Our Team Section -->
<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact Us</h2>
    </div>

    <!-- <form (submit)="submitQuery(event)"> -->
      <div class="row">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
          <form (submit)="submitQuery($event)" action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-lg-6 form-group">
                <input style="border-radius:10px" type="text" name="name" class="form-control" id="name" [(ngModel)]="QueryData.name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-lg-6 form-group">
                <input  style="border-radius:10px" type="email" class="form-control" name="email" id="email" [(ngModel)]="QueryData.email"
                  placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="col-lg-6 form-group">
                <input  style="border-radius:10px" type="number" name="number" class="form-control" id="number" [(ngModel)]="QueryData.number" placeholder="Your Mobile No." data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input  style="border-radius:10px" type="text" class="form-control" name="subject" id="subject" [(ngModel)]="QueryData.subject"
                placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea  style="border-radius:10px"  class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" [(ngModel)]="QueryData.message"
                placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" class="btn2">Send Message</button></div>
          </form>
        </div>
      

      </div>

  </div>

</section><!-- End Contact Us Section -->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Derian</span></strong>. All Rights Reserved
      </div>

    </div>
  </div>
</footer><!-- End Footer -->

</div>