<!-- <div [hidden]="PopUpShow"> -->
    <!-- <div id="mySidenav" class="popupsidenav" style="width:250px">
      <a href="#" >Futures</a>
      <a href="#">Call Option</a>
      <a href="#">Put Option</a>
    </div> -->


    <!--  -->
<!-- <ng-template >

  <p style="color: black;">xfbghng</p> -->
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Choose the derivative</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">

    <div id="PopUp" class="toggle">
      <form>
        <div class="btn-group">
          <table>
            <tr>
              <td><a href="" class="btn button" (click)="OpenForms()">Futures</a></td>
              <td><a href="" class="btn button">Call Option</a></td>
              <td><a href="" class="btn button">Put Option</a></td>
            </tr>
          </table>
        </div>
      </form>
    </div>

    <div>
       The form PAGE -->
      <!-- <div>
        <form>
          <div id="PopUpFutures" class="toggle" *ngIf="isForms">
            <p>Futures price:<label id="futures_price" name="futures_price">1,000,000</label></p>
            <p>Premium:<label id="Premium" name="Premium">100</label></p>
            <p>Underlying asset:
              <select id="underlying_asset" name="underlying_asset">
                <option value="equities">Equities</option>
                <option value="debenture">Debenture</option>
                <option value="bonds">Bonds</option>
                <option value="warrants">Warrants</option>
                <option value="premium">Premium</option>
              </select>
            </p>
            <p>
              Market position:
              <input type="radio" id="long" name="future_type" value="long">
              <label for="long">Long Futures</label>
              <input type="radio" id="short" name="future_type" value="short">
              <label for="short">Short Futures</label><br>
            </p>

            <p>
              Strike Price:
              <select id="Strike Price" name="futures_price">
                <option value="one">1,000,000</option>
                <option value="two">2,000,000</option>
                <option value="three">3,000,000</option>
                <option value="four">4,000,000</option>
                <option value="five">5,000,000</option>
                <option value="six">6,000,000</option>
                <option value="seven">7,000,000</option>
                <option value="eight">8,000,000</option>
                <option value="nine">9,000,000</option>
                <option value="ten">10,000,000</option>
              </select>
            </p>

          </div>

          <div *ngIf="isForms">
            <button type="button">Add</button>
            <button type="button">Confirm</button>
          </div>

        </form>
      </div>

    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>  -->
<!-- </ng-template> -->

