/* You can add global styles to this file, and also import other style files */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #5c768d;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #428bca;
  text-decoration: none;
}
  #topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #444;
    transition: 0.3s;
  }
  
  #topbar .contact-info a:hover {
    color: #428bca;
  }
  
  #topbar .contact-info i {
    color: #428bca;
    padding: 4px;
  }
  
  #topbar .contact-info .icofont-phone {
    padding-left: 20px;
    margin-left: 10px;
  }
  
  #topbar .social-links a {
    color: #5c768d;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #428bca;
  }

  
  #footer {
    background: #587187;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
 
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }